@import 'materialize';

// .light {
// 	color: white;
// }
.white-text {
	color: white;
}
.forum-post-container {
	padding: 20px;
}
.submit-container {
	padding: 20px;
}
// @media(max-width: 768px) {
	.parallax-container {
		height: 350px;
	}
// }
